.titulo{
    color: #CB262A;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    text-shadow: 2px 0px 2px black;
    font-family: 'Poppins', sans-serif;
}
.card1{
	max-width: 27rem;
	width: 100%;
	min-height: 23rem;
	box-shadow: 0px 2px 3px black;
	
}
.cajas{
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
.card-text{
	text-align: justify;
	margin: auto;
	font-family: 'Poppins', sans-serif;
	color: black;
	font-weight: 500;
}
.imgindex{
	background-image: url(./indexma.png);
	background-size: cover;
	background-position: center center;
	box-shadow: 2px 2px 3px black;
	max-width: 27rem;
	width: 100%;
	min-height: 23rem;
}