@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.header{
    min-height: 130px;
    background-color: #CB262A;
    padding: 10px;
}

.boton{
    margin: auto;
}

.regran2{
    max-width: 165px;
    width: 100%;
    background-color: white;
    color:#CB262A;
    font-weight: bold;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    box-shadow: 3px 3px 5px black;
    margin-left:60px;
    font-family: 'Poppins', sans-serif;
}

.regran2:hover{
    background-color: #CB262A;
    color:white;
}
.regresar{
    max-width: 165px;
    width: 100%;
    background-color: white;
    color:#CB262A;
    font-weight: bold;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    box-shadow: 3px 3px 5px black;
    border-left: 1px solid #CB262A; 
    font-family: 'Poppins', sans-serif;
}

.regresar:hover{
    background-color: #CB262A;
    color:white;
}

.boton i{
   font-size: 20px;
}

.menu{
   display: flex;
  }

.menu img{
    padding-left: 15px;
}