.registro{
    background-image: url(./leche.jpg);
    background-size: cover;
    background-position: center center;
}

.card3{
    width: 48rem;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.7);
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
}

.card3 i{
    float: right;
    font-size: 35px;
    margin: 5px;
    color:black;
}

.titleform2{
    text-align: center;
    margin-bottom: 20px;
}
.titleform2 h3{
    margin: auto;
    color:#004296;
    border-bottom: 2px solid #FFD117;
	width: 300px;
    font-weight: bold;
}
.forminput2::placeholder {
  color: black;  
}

.forminput{
    border: 1px solid #5c5749;
}

.terminos{
    text-decoration: underline;
}

.form-check-label{
    font-size: 14px;
}

.botonreg{
    text-align: center;
}
.btn-reg{
    background-color: #3bc37b;
	color: white;
	width: 160px;
    padding: 5px;
    margin-top:20px;
    border-radius: 20px;
	border: none;
	box-shadow: 0px 2px 2px #5c5749;
	font-weight: 500; 
    margin-right: 15px;
}

.btn-reg:hover{
    background-color: white;
	color:#3bc37b;
    border: 2px solid #3bc37b;
    font-weight: bold;
}

.btn-reg2{
    background-color: #004296;
	color: white;
	width: 160px;
    padding: 5px;
    margin-top:20px;
    border-radius: 20px;
	border: none;
	box-shadow: 0px 2px 2px #5c5749;
	font-weight: 500;  
}

.btn-reg2:hover{
    background-color: white;
	color: #004296;
    border: 2px solid #004296;
    font-weight: bold;
}
