
.footer2{
    width: 100%;
    min-height: 150px;
    background-color:  #CB262A;
    padding: 20px;
}

.sec2{
    max-width: 280px;
    width: 100%;
    color: white;
    font-size: 12px;
    line-height: 10px;
}

.logom{
    width:150px;
    border-radius: 10px;
    border: 1px solid white;
}

.certifica{
    max-width: 180px;
    width: 100%;
    float: right;

 
}   

.certifica img{
    max-width: 70px;
}

.iso{
    width: 30px;
}
.sec3{
    color: white;
    font-size: 12px;
    text-align: right;
}
.iconos{
    float: right;
    min-height: 50px;
    color: white;
    margin-top: 50px; 
    align-content:  flex-end;
}
.iconos i{
    font-size: 30px;
    padding: 12px; 
}

