@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.formulario{
	padding:  30px;
	max-width: 500px;
	width: 100%; 
	margin: auto;
	box-shadow: 2px 2px 2px #5c5749; 
}
.formulario h1{
	color: #CB262A;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	padding: 20px;
}

.formulario h2{
	color: #004296;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	border-bottom: 2px solid #FFD117;
	width: 210px;
	margin: auto;
}

.formulario p{
	text-align: center;
	padding: 20px 60px 20px 60px;
}

.formulario i{
    float: right;
    font-size: 30px;
    color:black;
	margin: 0px;
}

.form1{
	text-align: center;
}

.form1 input[type=text]{
	width: 400px;
	vertical-align: middle;
	padding: 5px;
	border-radius: 5px;
	font-size: 16px;
	margin: 10px 0;
	resize: none;
	border: 1px solid #000000;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 2px 2px 2px #5c5749;
}
.recordar{
	width: 400px;
	margin: auto;
}
.sesion{
	background-color: #3bc37b;
	color: white;
	width: 165px;
    margin-top:20px;
	padding: 10px;
	border-radius: 20px;
	border: none;
	box-shadow: 0px 2px 2px #5c5749;
	font-weight: bold;  
}

.sesion:hover{
	background-color: white;
	color:#3bc37b;
	border: 2px solid #3bc37b;
}


